@use "../../styles/color" as *;
.vocabulary-list-wrap {
  position: relative;
  .vocabulary-list-title {
    span {
      font-size: 1.1rem;
      font-weight: 700;
    }
    strong {
      color: $text-color;
      font-size: 1.2rem;
      font-weight: 500;
      > span {
        color: rgb(4, 88, 245);
        font-size: 1.3rem;
      }
    }
    .trainning-button {
      margin: 20px;
    }
  }
  .vocabulary-list-content-wrap {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    .vocabulary-list {
      flex: 3;
    }
    .muc-luc-area {
      flex: 1;
    }
  }
  .muc-luc-area {
    h2 {
      color: rgb(84, 83, 83);
    }
    hr {
      margin-top: 20px;
    }
  }
}
.table-index-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.play-icon {
  color: rgb(66, 130, 249);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 20px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    border: 1px solid rgb(66, 130, 249);
  }
}
.vocabulary-item {
  .kanji-area {
    color: rgb(239, 61, 61);
    font-size: 1.2rem;
  }
  .furigana-area {
    font-weight: 400;
  }
  .example-mean-area {
    font-size: 1.2rem;
    margin-top: 5px;
  }
  ruby {
    ruby-position: over; /* Đặt Hiragana bên trên Kanji */
    letter-spacing: 0.2rem;
  }
  rt {
    font-size: 0.6em; /* Giảm kích thước của Hiragana */
    line-height: 1.9em; /* Điều chỉnh khoảng cách giữa Kanji và Hiragana */
    letter-spacing: 0.1rem;
  }
  rb {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
}
@media (max-width: 768px) {
  .play-icon {
    width: 20px;
    height: 20px;
  }
  .vocabulary-list-title {
  }
  .vocabulary-list-content-wrap {
    //margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }
  .vocabulary-item .kanji-area {
    font-size: 0.8rem;
  }
  .vocabulary-item .furigana-area {
    font-size: 0.7rem;
  }
  .vocabulary-item .mean-area {
    font-size: 0.7rem;
  }
  .vocabulary-item .example-mean-area {
    font-size: 0.7rem;
  }
  .vocabulary-item .example-area {
    font-weight: 500;
    font-size: 0.7rem;
  }
}
