@use "../../styles/color" as *;

/* Màu nền cho toàn bộ trang khi nhấn nút */
.page-background-green {
  background-color: #e6ffe6; /* Màu nền xanh nhạt khi nhấn "Đã thuộc" */
}

.page-background-red {
  background-color: #ffe6e6; /* Màu nền đỏ nhạt khi nhấn "Chưa thuộc" */
}

.background-wrapper {
  margin: 30px 0;
  border-radius: 20px;
}
.play-icon-card {
  color: rgb(66, 130, 249);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    border: 1px solid rgb(66, 130, 249);
  }
}
.flash-card {
  width: 350px;
  height: 500px;
  // width: 260px;
  // height: 390px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
  perspective: 1000px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;

  background-origin: border-box;
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

  .flash-card-front,
  .flash-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ẩn mặt sau khi lật */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 20px;
  }
  .flash-card-front {
    flex-direction: column;
    font-size: 2.8rem;
    h3 {
      color: rgb(80, 80, 80);
    }
  }
  .flash-card-back {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0 5px;
    gap: 20px;
    background-color: #ffffff; /* Màu nền cho mặt sau */
    .fl-furigana {
      font-size: 2.1rem;
      color: $main-blue;
      font-weight: 600;
    }
    .fl-meaning {
      font-size: 1.5rem;
      font-style: italic;
    }
    .fl-example,
    .fl-example-meaning {
      font-size: 1.05rem;
    }
  }
  .is-back {
    transform: rotateY(180deg);
  }
}
.flipped {
  transform: rotateY(180deg); /* Khi thẻ bị lật */
}
@media (max-width: 768px) {
  .flash-card {
    width: 260px;
    height: 390px;
  }
  .flash-card-front h3 {
    font-size: 2.1rem;
  }
  .fl-furigana {
    font-size: 2rem;
    color: $main-blue;
    font-weight: 600;
  }
  .fl-meaning {
    font-size: 1.2rem;
    font-style: italic;
  }
  .fl-example,
  .fl-example-meaning {
    font-size: 1.05rem;
  }
}
