@use "../../styles/_color.scss" as *;
.ant-drawer-header {
  display: none !important;
}
.ant-drawer-content {
  width: 256px !important;
}
.header-area {
  height: 70px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99;
  background-color: $main-blue;
  color: rgb(251, 251, 251);
  font-size: 1.1rem;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  .mobile-menu-wrap {
    display: none;
    flex: 1;
    svg {
      font-size: 2rem;
    }
  }
  .logo-web-area {
    height: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #213672;
    background-color: white;
    font-size: 1.3rem;
    img {
      width: 50px;
      height: 50px;
    }
  }
  :hover {
    cursor: pointer;
  }
}
.main-menu {
  flex: 8;
  display: flex;
  align-items: center;
  justify-content: left;
  .menu-item {
    padding: 20px;
    text-align: center;
    span {
      font-size: 1.5rem;
    }
    a:hover {
      color: #3c3a3a;
      transition: all 0.3s ease-in-out;
    }
  }

  .sign-button {
    text-decoration: underline;
  }
}
.log-out-wrap {
  flex: 1;
  display: none;
  justify-content: right;
  align-items: center;
  svg {
    font-size: 2rem;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .mobile-menu-wrap {
    display: flex !important;
    justify-content: left;
    align-items: center;
  }
  .header-area {
    height: 60px;

    .logo-web-area {
      border-radius: 5px;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: #213672;
      background-color: transparent !important;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  .main-menu {
    display: none;
  }
  .log-out-wrap {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    a {
      font-size: 0.9rem;
    }
  }
}
