@use "../../styles/_color.scss" as *;
.header-area {
  height: 70px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  background-color: $main-blue;
  color: rgb(251, 251, 251);
  font-size: 1.1rem;

  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  .logo-web-area {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #ff1a1a;
    background-color: white;
    font-size: 1.3rem;
    img {
      width: 50px;
      height: 50px;
    }
  }
  :hover {
    cursor: pointer;
  }
}
.main-menu {
  display: flex;
  flex: 2;
  justify-content: left;
  .menu-item {
    padding: 20px;
    text-align: center;
    span {
      font-size: 1.5rem;
    }
    a:hover {
      color: #3c3a3a;
      transition: all 0.3s ease-in-out;
    }
  }

  .sign-button {
    text-decoration: underline;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .header-area {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    .logo-web-area {
      order: 1;
      border-radius: 5px;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      padding: 0 !important;
      font-size: 1.1rem;
      img {
        width: 30px;
        height: 30px;
      }
    }

    .main-menu {
      order: 2;
      width: 100%;
      justify-content: center;
      gap: 15px;
      .menu-item {
        padding: 5px 2px;
        span {
          font-size: 1rem;
        }
        font-size: 0.9rem;
      }
    }

    .user-area {
      order: 3;
      width: 100%;
      justify-content: center;
      margin: 10px 0;
    }
  }
}
