@use "../../styles/color" as *;
.home-size-desktop {
  width: 25vw;
  height: 30vh;
}
.box-size-desktop {
  width: 150px;
  height: 150px;
}
.image-content-wrap {
  // flex: 3;
  text-align: right;

  .bg-img {
    height: 100%;
    width: 100%;
    padding: 7%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    .bg-img-content {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      .header-content {
        color: #ff66c4;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      .main-content {
        color: #545454;
        font-weight: bold;
      }
      .des-content {
        color: #737373;
        font-weight: bold;
      }
    }
  }
}
.n1-color {
  background: radial-gradient(circle, #adddf8 30%, $main_blue 100%);
}
.n2-color {
  // background-color: #ef5038;
  background: radial-gradient(circle, #eb9a9a 30%, #ef5038 100%);
}
.n3-color {
  // background-color: #9aca3b;
  background: radial-gradient(circle, #b3d07a 30%, #9aca3b 100%);
}
.n4-color {
  //background-color: #8880bc;
  background: radial-gradient(circle, #9d97c2 30%, #8880bc 100%);
}
.n5-color {
  // background-color: #fedc00;
  background: radial-gradient(circle, #e7dea1 30%, #fedc00 100%);
}

.vocabulary-color {
  background-color: $main_blue;
}
.grammar-color {
  background-color: $xanh_la;
}
.kanji-color {
  background-color: $do_dam;
}
.blog-color {
  background-color: $tim;
}
.big-font {
  .header-content {
    font-size: 1.1vw;
  }
  .main-content {
    font-size: 2.8vw;
  }
  .des-content {
    font-size: 2vw;
  }
}
.small-font {
  .header-content {
    font-size: 0.8rem;
  }
  .main-content {
    font-size: 1.7rem;
  }
  .des-content {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .home-size-desktop {
    width: 100% !important;
    height: 25vh !important;
  }
  .box-size-desktop {
    width: 120px !important;
    height: 120px !important;
  }
  .small-font .header-content {
    font-size: 0.6rem !important;
  }
  .small-font .main-content {
    font-size: 1.4rem !important;
  }
  .small-font .des-content {
    font-size: 0.6rem !important;
  }
  .home-size-desktop .bg-img {
    padding: 20px !important;
  }
  .big-font .header-content {
    font-size: 1.6rem !important;
  }

  .big-font .main-content {
    font-size: 3rem !important;
  }

  .big-font .des-content {
    font-size: 2.3rem !important;
  }
}
