.container {
  position: relative;
  .header-wrap {
  }
  .content-wrap {
    position: relative;
    top: 70px;
    padding: 20px 30px;
  }
}
@media (max-width: 768px) {
  .container .content-wrap {
    top: 60px !important;
    padding: 10px !important;
  }
}
